a
{
    text-decoration: none;
}
body
{
    margin: 0px;
    width: 100%;
}
.logo
{
    /* height: 57px;
    width: 65px;  */
    margin-left: 39px;
    border-radius: 70%;
    

}
.menu
{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    /* height: 64px; */
    /* position: fixed; */
    top: 0%;
    align-items: center;
    z-index: 99999;
}
.header-menu
{
    background-color: #3a4248;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-width: 100vh;
    height: 64px;
    position: fixed;
    z-index: 99999;
    gap: 20px;
}
.menuSupport{
    color: #e05314;
    margin-left: -20px;
    min-width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    align-items: center;
}
.menuSupport a{
    font-family: Sarabun;
    color: #e05314;
    text-decoration: none;
}
.search
{
    position: relative;
    /* margin-left: 85px; */
    width: 50%;
    
}
.SearchField
{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 10px;
    padding-left: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px #e05314 solid;
}
.logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 150%;
}
.logo :hover
{
    cursor: pointer;
}
@font-face {
    font-family: Sansita_one;
    src: url('../Fontchu/sansita-one.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Sarabun;
    src: url('../Fontchu/Sarabun-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.menu-Tool
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
    margin-left: -1%;
    gap: 10px;
}
.menu-list
{
    background-color: #e3e2e8;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 64px;
    z-index: 9999;
    min-width: 100vh;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}
.menu_list-list
{
    width: 100%;
    margin: 0;
    margin-top: 104px;
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    min-width: 100vh;
}
.menu_components
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    padding: 0.5%;
}
.menu_components:hover
{
    background-color: #ec5c1a;
    color: #bebebe;
}
.container
{
    min-width: 100%;
    /* min-height: 100vh; */
   
}

.allHotPro
{
    color: #ffff;
}
.allHotPro:hover
{
    color: #d8d8d8;
}
.Hot-product, .Sale-product
{
    background-color: #e05314;
    margin: 60px;
    padding: 10px 50px 29px 50px;
    border-radius: 32px;
}
.Hot-product-text
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffff;
}
.Hot-product-text-content
{
    font-size: 1.4rem;
    font-size: Sarabun;
}
.card-text
{
    color: #e05314;
    text-align: left;
    font-weight: bold;
}
.card-title
{
    color: #ffff; 
    text-align: left;
    font-size: 90%;
}
.card-button{
    color: #ffff; 
    border: 0px;
    border-radius: 20px;
    background-color: #e05314;
    font-size: 90%;
    padding: 5px;
    
}
.col
{
    position: relative;
}
.card-img-top
{
    border-radius: 21px;
    height: 20vh;
}
.Sale-product-mark
{
    background-color: #f0f416;
    width: 80px;
    height: 34px;
    color: #ef0b0b;
    padding-top: 2%;
    position: absolute;
    top: 0px;
    font-size: 80%;
    border-top-left-radius: 21px;
}
.card-img-top
{
    transition: transform 0.3s ease-in-out;
}
.card-img-top:hover
{
    transform: scale(1.02);
}
footer
{
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    justify-content: space-around;
    padding-bottom: 15px;
    border-top: 5px #e05314 solid;
    margin-top: 133px;
}
.footer_content
{
    display: flex;
    flex-direction: column;
}
footer p
{
    margin: 0;
}
footer img
{
    position: relative;
}
.row>*{
    margin-top: 10px;
}
.ellipsis
{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}