body
{
    margin: 0px;
    width: 100%;
}
.logo
{
    /* height: 57px;
    width: 65px;  */
    margin-left: 39px;
    border-radius: 70%;
    

}
.menu
{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    /* height: 64px; */
    /* position: fixed; */
    top: 0%;
    align-items: center;
    z-index: 99999;
}
.header-menu
{
    background-color: #3a4248;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 64px;
    position: fixed;
    z-index: 99999;
    gap: 20px;
}
.menuSupport{
    color: #e05314;
    margin-left: -20px;
    min-width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    align-items: center;
}
.menuSupport a, .menuSupport span{
    font-family: Sarabun;
    color: #e05314;
    text-decoration: none;
}
.search
{
    position: relative;
    /* margin-left: 85px; */
    width: 50%;
    
}
.SearchField
{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 10px;
    padding-left: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px #e05314 solid;
}
.logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 150%;
}
.logo :hover
{
    cursor: pointer;
}
@font-face {
    font-family: Sansita_one;
    src: url('../Fontchu/sansita-one.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Sarabun;
    src: url('../Fontchu/Sarabun-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.menu-Tool
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
    margin-left: 30px;
    gap: 10px;
    padding: 0 auto;
}
.menu-list
{
    background-color: #e3e2e8;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 64px;
    z-index: 99999;
}
.menu_list-list
{
    width: 100%;
    margin: 0;
    margin-top: 104px;
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.menu_components
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0, 0, 0, 1);
}
.container
{
    min-width: 100%;
    /* min-height: 100vh; */
   
}
.justify-content-center
{
    margin: 25px 150px 0 150px;
}
.nav__overlay
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadein linear 0.3s;
}
.nav-input:checked ~ .nav__overlay{
    display: block;
}
.nav-input:checked ~ .nav-list
{
    transform: translate(0);
    opacity: 1;
}
.nav-list
{
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #3a4248;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.3s;
 
}
@keyframes fadein
{
    format{
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
.nav_list-close
{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.nav_list-list
{
   margin-top: 50px;
   color: #ffff;
   list-style-type: none;
   font-family: Sarabun;
   font-size: 16px;
   list-style-type: none;
   
}
.nav_list-list li
{
    margin-bottom: 20px;
}
.nav_list-link
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffff;
    text-decoration: none;
    gap: 10px;
    margin: 0;
}
.menu_nev_mobile_Tool
{
    display: none;
}
.nav__bars-btn:hover, .nav-input:hover, .nav_list-close:hover
{
    cursor: pointer;
}
.proName
{
    color: #ffff;
    font-size: 20px;
}
.product img
{
    width: 100%;
    max-width: 80%;
    height: 393px;
}
.detail
{
    text-align: left;
}
.detail-text
{
    background-color: #d9d9d9;
    width: 100%;
    max-width: 80%;
    margin: 0;
    transform: translateX(12.45%);;
    margin-top: 20px;
}
.listDetails
{
    list-style-type: none;
    
}

.status
{
    background-color: #389728;
    width: fit-content;
    border-radius: 20px;
    color: #ffff;
}
.method
{
    color: #ffff;
    font-size: 20px;
}
.originPrice
{
   font-size: 159%;
   color: #ef0b0b;
}
.newPrice
{
    color: #B7BFC3;
    font-size: 117%;
}
.link-a
{
    color: #b1b1b1;
    display: flex;
    flex-direction: row;
    font-size: 80%;
    gap: 20px;
    align-items: baseline;
}
.link-a a
{
    text-decoration: none;
    color: #b1b1b1;
    font-size: 90%;
    
}
.special-details_list
{
    text-align: left;
    color: #e05314;
    
}
.special-details_list span
{
    color: #ef0b0b;
}
.special-details_list li
{
    margin-top: 10px;
    color: #ffff;
}
.special-details
{
    border-radius: 41px;
    border: 2px #e05314 solid;
}
.more
{
    text-decoration: none;
    color: #e05314;
}
.buy-btn
{
    background-color: #ef0b0b;
    border: 0;
    border-radius: 15px;
    color: #ffff;
    min-height: 8vh;    
    width: 75%;
}
.buy-btn:hover
{
    background-color: #d62929;
}
.buy-btn_others
{
    margin-top: 20px;
}
.buy-btn_others_btn
{
    background-color: #6A6B6B;
    border: 0;
    border-radius: 15px;
    color: #ffff;
    width: 36%;
    min-height: 8vh;
}

.gradient-img
{
    background-image: linear-gradient(180deg, rgba(234, 234, 234, 0), rgba(234, 234, 234, 1)), url("../Image/describe.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-position: center center;
}
.see-more
{
    transform: translateY(390%);
}
.see-more-btn
{
    border: 1px #e05314 solid;
    border-radius: 21px;
    color: #e05314;
    width: 179px;
    height: 51px;
}
footer
{
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    justify-content: space-around;
    padding-bottom: 15px;
    border-top: 5px #e05314 solid;
    margin-top: 133px;
}
.footer_content
{
    display: flex;
    flex-direction: column;
}
footer p
{
    margin: 0;
}
footer img
{
    position: relative;
}

@media (max-width : 1023px)
{
    .search
    {
        display: none;
    }
    .menu-Tool
    {
        display: none;
    }
    .menuSupport
    {
        display: none;
    }
    .cart
    {
        display: none;
    }
    .menu_nev_mobile_Tool
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vh;
        align-items: center;
    }
    .logo
    {
        display: none;
    }
}
